@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #6C464F;
}

#column-2 {
  background: #9E768F;
}

#column-3 {
  background: #9FA4C4;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #FF9F1C ;
  }

  #column-1 {
    background-color: #FFBF69;
    width: 50%;
    height: 640px;
  }

  #column-2 {
    background-color: #FFFFFF;
    width: 50%;
    float: left;
  }

  #column-3 {
    background-color: #CBF3F0;
    width: 50%;
    float: left;
  }

  footer {
    background-color: #2EC4B6;
  }

}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #555B6E;
  }

  #column-1 {
    background-color: #89B0AE;
    width: 33.33%;
    height: 320px;
  }

  #column-2 {
    background-color: #BEE3DB;
    width: 33.33%;
  }

  #column-3 {
    background-color: #FAF9F9;
    width: 33.33%;
  }

  footer {
    background-color: #FFD6BA;
  }

}
